h1{
  color:#140c0b
}

h2{
  color:#140c0b
}

h3{
  color:#140c0b
}

body{
  background-color: #dbd5b5 ;
  color:darkslategray
}

body{
  font-family: 'Times New Roman', Times, serif;
}

#TableAnswer{
  color: red;
}